<div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>Eat Da Burger!</h1>
        <h2>Craft a burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">What is in your burger?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <button type="submit">Add burger</button>
        </form>
    </div>
</div>

<h2>Burgers yet to be consumer</h2>

<ul>
    {{#each burger}} {{#unless consumed}} {{> burger/burger-block consumed=true}} {{/unless}} {{/each}}
</ul>

<h2>Consumed burgers</h2>

<ul>
    {{#each burger}} {{#if consumed}} {{> burger/burger-block sleep=true}} {{/if}} {{/each}}
</ul>

{{!--
<div class="form-group">
    <label for="sleepy">Eaten?</label>
    <br>
    <input type="radio" name="sleepy" value="1" checked> Hungry!
    <br>
    <input type="radio" name="sleepy" value="0"> Consumed
</div> --}}