<div class="container">
    <div class="jumbotron" style="text-align: center; background-color:rgb(228, 166, 95)">
        <h1>Eat Da Burger!</h1>
        <img src="../public/assets/img/abstract-1238246_1920.jpg" alt="burger image">
        <h2>Craft a burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for="exampleFormControlTextarea1" id="burger-type">What is in your burger?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <button type="submit">Add burger</button>
        </form>

        <div class="form-group">
            <label for="consumed">Eaten?</label>
            <br>
            <input type="radio" name="consumed" value="1" checked> Hungry!
            <br>
            <input type="radio" name="consumed" value="0"> Consumed
        </div>
    </div>
</div>
<div class="container" style="text-align: center">
    <h2>Burgers yet to be consumer</h2>

    <ul>
        {{#each burger}} {{#unless consumed}} {{> burger/burger-block consumed=true}} {{/unless}} {{/each}}
    </ul>

    <h2>Consumed burgers</h2>

    <ul>
        {{#each burger}} {{#if consumed}} {{> burger/burger-block sleep=true}} {{/if}} {{/each}}
    </ul>
</div>